#toggle-mode {
    padding: 5px 5px;
    background-color: #ffffff5e; /* Green */
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect */
#toggle-mode:hover {
    background-color: #808080af; /* Darker green */
}