 .progress-bar {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
 background-color: #e7fc08;
  box-shadow: 0 2px 15px rgba(4, 216, 149, 0.938); /* 3D shadow effect */
  }

 .progress-bar-inner {
  position: absolute;
  left: 0;
  top: 0;
 height: 100%;
  width: 0;
  background-color: #007bff;
  transition: width 0.3s ease-in-out;
 }
        